*.o
*.a
*.pyc
*~
*.swp
.*
*.tmp
*.old
_xmsgs/
par_usage_statistics.html
*.bgn
*.bit
*.bld
*.drc
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.unroutes
*.xpi
*.xwbt
*.xrpt
netlist.lst
*_pad.csv
*_pad.txt
*_summary.xml
*_usage.xml
*_xst.xrpt
*.ngm
*.ngr
xst/
usage_statistics_webtalk.html
webtalk.log
xlnx_auto_0_xdb
*.log
isim.wdb
*.xmsgs
fuseRelaunch.cmd
isim.wdb
tb/isim/
dump.vcd
simulation/
*_envsettings.html
*_summary.html
*.cmd_log
*.bin
webtalk_pn.xml
*.xreport
*.syr
*.twr
*.twx
*.srp
*.cfi
*.mcs
*.prm
*.psr
*.scr
tb/simulate_isim
tb/simulate_isim.prj
iseconfig/
