*.o
*.a
*.pyc
*~
*.swp
.*
*.tmp
*.old
_xmsgs/
par_usage_statistics.html
*.bgn
*.bit
*.bld
*.drc
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.unroutes
*.xpi
*.xwbt
*.xrpt
synth_project/netlist.lst
synth_project/*_pad.csv
synth_project/*_pad.txt
synth_project/*_summary.xml
synth_project/*_usage.xml
synth_project/*_xst.xrpt
synth_project/*.ngm
synth_project/*.ngr
synth_project/usage_statistics_webtalk.html
synth_project/xst/
usage_statistics_webtalk.html
webtalk.log
xlnx_auto_0_xdb
testbench/fuse.log
testbench/isim.log
testbench/isim.wdb
testbench/fuse.xmsgs
testbench/fuseRelaunch.cmd
testbench/isim.wdb
testbench/isim/
