
#200MHz clock
NET "SYSTEMCLOCK" LOC = K21;
NET "SYSTEMCLOCK" TNM_NET = "SYSTEMCLOCK";
TIMESPEC "TS_SYSTEMCLOCK" = PERIOD "SYSTEMCLOCK" 5 ns HIGH 50%;

NET "PUSH_BUTTON_RESET_RAW" LOC = F3;

NET "gpio_switch<0>" LOC = C18;
NET "gpio_switch<1>" LOC = Y6;
NET "gpio_switch<2>" LOC = W6;
NET "gpio_switch<3>" LOC = E4;

NET "gpio_led<0>" LOC = D17;
NET "gpio_led<1>" LOC = AB4;
NET "gpio_led<2>" LOC = D21;
NET "gpio_led<3>" LOC = W15;

