NET "PUSH_BUTTON_RESET_RAW" LOC = F3;

#100MHz clock
NET "SYSTEMCLOCK" LOC = K21;

NET "Switch_input_0" LOC = C18;
NET "Switch_input_1" LOC = Y6;
NET "Switch_input_2" LOC = W6;
NET "Switch_input_3" LOC = E4;

NET "LED_output_1" LOC = D17;
NET "LED_output_2" LOC = AB4;
NET "LED_output_4" LOC = D21;
NET "LED_output_5" LOC = W15;

# Defines the external differential clock to be 150 MHz with 50% duty
# cycle.

NET "SYSTEMCLOCK" TNM_NET = "SYSTEMCLOCK";
TIMESPEC TS__SYSTEMCLOCK = PERIOD "SYSTEMCLOCK" 5 ns HIGH 50 % PRIORITY 2;

